C:\Users\pilot\Desktop\test1\image\Untitled.png
C:\Users\pilot\Desktop\test1\image3\Untitled.png
C:\Users\pilot\Desktop\test1\image4\Untitled.png
C:\Users\pilot\Desktop\test1\image5\bar_a_jus.jpg
file.txt
image6/monfils.png                                               